@use '../scss/variables.scss' as *;
@use 'components/header.scss';
@use 'components/footer.scss';
@use '../scss/pages/home';
@use 'pages/college_departments/departmentView';
@use 'pages/contac_us';
@use 'pages/faculty_members/teaching_staff';
@use 'pages/faculty_members/publications/research';
@use 'pages/faculty_members/publications/books';
@use 'pages/faculty_members/publications/patent';
@use 'pages/students/academic_calendar';
@use 'pages/students/graduates';
@use 'pages/students/top_ranking_students';
@use 'pages/digital_repository/electronic_library';
@use 'pages/digital_repository/graduation_projects';
@use 'pages/digital_repository/the_library';
@use 'pages/digital_repository/media/photo_gallery';
@use 'pages/digital_repository/media/video_gallery';
@use 'pages/electronic_services/related_websites';
@use 'pages/electronic_services/complaints_and_comments';
@use 'pages/about_college/about/about_the_college';
@use 'pages/about_college/about/message_from_the_dean';
@use 'pages/about_college/about/vision';
@use 'pages/about_college/academic_programs_and_structure/academic_program_description';
@use 'pages/about_college/academic_programs_and_structure/certifications_and_classifications';
@use 'pages/about_college/academic_programs_and_structure/strategic_plan';
@use 'pages/about_college/academic_programs_and_structure/the_colleges_organizational_structure';
// @use 'pages/about_college/employment_and_policies/college_instructions_and_policy';
// @use 'pages/about_college/employment_and_policies/jobs';
// @use 'pages/about_college/facilities_and_information/college_activities';
// @use 'pages/about_college/facilities_and_information/location';
// @use 'pages/about_college/facilities_and_information/statistics';
// @use 'pages/about_college/facilities_and_information/the_principle_of_transparency';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Custom Scrollbar Styling (Webkit Browsers: Chrome, Safari, Edge, Opera)
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: $hero-bg-1; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $primary-color, $hero-bg-3); // تدرج أنيق ومريح للعين
    border-radius: 5px;
    border: 2px solid $hero-bg-1; 
    transition: background 0.3s ease;

    &:hover {
        background: $accent-color; 
    }
}

// Firefox Scrollbar Support
html {
    scrollbar-width: thin;
    scrollbar-color: $primary-color $hero-bg-1;
}

// General Reset for consistency, especially when changing dir attributes
html,
body {
    overflow-x: hidden;
    padding-top: 35px;
    // overscroll-behavior: none;
}