@use '../scss/variables.scss' as *;
@use 'components/header.scss';
@use 'components/footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// General Reset for consistency, especially when changing dir attributes
html,
body {
  overflow-x: hidden;
  padding-top: 35px;
}